.ant-menu-item-selected,
.ant-menu-item-selected a {
  background-color: white !important;
  color: #16a7b9 !important;
  font-weight: bolder !important; /* Ensuring more prominent text */
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
}

.custom-menu {
  background: #ffffff; /* Ensure menu background is white */
  padding: 0;
}

.custom-menu-item:not(.custom-selected) {
  color: #718096;
  font-weight: 600;
}

.custom-selected {
  background-color: white !important;
  color: #16a7b9 !important; /* Ensuring the selected color is prominent */
  font-weight: bolder !important; /* Ensuring more prominent text */
}

.ant-menu-item::after {
  border-right: 3px solid #16a7b9; /* Indicator for selected item */
}

.ant-menu-item:hover::after {
  border-right: 3px solid #16a7b9;
}npm 

.ant-menu-submenu-title .custom-menu-item {
  color: #718096; /* Ensure nested items also use custom styles */
}

.ant-menu-submenu-title:hover .custom-menu-item {
  color: #16a7b9;
}

/* Adjust the collapser button */
.ant-layout-sider-trigger {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom styles for the menu */
.custom-menu {
  padding: 0;
  color: #718096;
}

.ant-menu-submenu-title {
  color: #718096;
  font-weight: 600;
}

.ant-menu-item-selected {
  color: #16a7b9;
}

/* Custom styles for the selected menu item */
.custom-selected {
  background-color: white !important;
  color: #16a7b9 !important;
}

/* Ensure there is space for the collapser button */
.sider-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sider-menu-content {
  flex: 1;
  overflow: auto;
}

.sider-menu-bottom {
  padding: 10px;
  background: #fff;
  border-top: 1px solid #e8e8e8;
}
